<main class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-4">Your Dashboard</h2>
            <a href="/new-post"><button class="btn mt-3">New Post</button></a>
        </div>
    </div>
    <br>
    {{#each posts}}
    <div class="post-container mb-3">
        <h2><a href="/post/{{id}}">{{title}}</a></h2>
        <a href="/edit-post"><button class="btn btn-secondary">Edit Post</button></a>
        <button class="btn bg-custom-delete delete-post" data-post-id="{{id}}">Delete</button>
    </div>
    {{/each}}
</main>