<main class="container mt-5">
  <form id="edit-post-form">
    <div class="mb-3">
      <label for="title-update-post" class="form-label">Title:</label>
      <input
        type="text"
        id="title-update-post"
        name="title"
        class="form-control"
        value="{{title}}"
      />
    </div>
    <div class="mb-3">
      <label for="content-update-post" class="form-label">Content:</label>
      <textarea
        id="content-update-post"
        name="content"
        class="form-control"
        rows="5"
      >{{content}}</textarea>
    </div>
    <button id="update-post" type="submit" class="btn btn-primary">Update Post</button>
    <button id="delete-post" type="button" class="btn btn-danger">Delete Post</button>
  </form>
</main>

