<div class="container mt-5">
  <h2 class="mb-4 text-dark">Create new post</h2>
  <form class="new-post-form">
    <div class="mb-3">
      <label for="title-new-post" class="form-label custom-text-color">Title:</label>
      <input
        type="text"
        class="form-control"
        id="title-new-post"
        placeholder="Enter the Post Title"
      />
    </div>
    <div class="mb-3">
      <label for="content-new-post" class="form-label custom-text-color">Content:</label>
      <textarea
        class="form-control"
        id="content-new-post"
        rows="5"
        placeholder="Enter Content"
      ></textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-secondary">Add Post</button>
    </div>
  </form>
</div>